html {
	background-color: #0b0e2f;
	font-family: 'M PLUS Rounded 1c', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	max-width: 1990px;
	margin-left: auto;
	margin-right: auto;
	
}
.content{
	position: relative;
	overflow: hidden;
}

.blob-container {
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	z-index: -1;
	width: 100vw;
}

@media (max-width: 899px) {
	.blob-container {
		overflow: hidden;
	}
}

body {
	font-family: 'Roboto', sans-serif;

}

section {
	padding: 4rem 4rem;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'M PLUS Rounded 1c', sans-serif;
	line-height: 120%;
	letter-spacing: -0.5px;
	color: white;
	font-size: 60px;
	font-weight: 300;
}

h3 {
	font-size: 24px;
}

p {
	color: #ffffffb2;
	line-height: 120%;
	letter-spacing: 0.17px;
	font-weight: 300;
	font-size: 24px;
}

